
.swiper-container,
.swiper-container * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.swiper-container .swiper-no-swiping .swiper-button-prev,
.swiper-container .swiper-no-swiping .swiper-button-next {
  opacity: 0;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .1;
}

.product-gallery .product-photos-side,
.product-gallery .product-photo-main {
  position: relative;
}

.product-gallery .product-photo-main {
  margin-bottom: 10px;
}

.product-gallery .product-photos-side .swiper-container {
  height: 70px;
}

.product-gallery .product-photo-main .swiper-container {
  height: 320px;
}

.product-gallery .product-photos-side .swiper-slide {
  border: 2px solid gray;
  width: 70px;
  opacity: .4;
  transition: 225ms opacity ease-in-out;
}

.product-gallery .product-photos-side .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.product-gallery .swiper-container {
  position: static;
  width: 100%;
}

.product-gallery .swiper-slide {
  cursor: pointer;
  text-align: center;
}

.product-gallery img {
  max-height: 100%;
  width: 100%;
  object-fit: unset;
}



/* full screen product gallery */

.product-gallery-full-screen {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  z-index: 999999;
  transition: 350ms opacity ease-in-out;
}

.product-gallery-full-screen.opened {
  opacity: 1;
  overflow-y: scroll;
  pointer-events: auto;
}

.product-gallery-full-screen .swiper-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.product-gallery-full-screen .swiper-slide {
  overflow: hidden;
}

.product-gallery-full-screen .swiper-slide img,
.product-photos-side .swiper-slide img {
  height: 100%;
  width: 100%;
}
.product-gallery-full-screen .swiper-slide img {
  cursor: zoom-in;
  transition: 350ms -webkit-transform ease-in-out, 350ms transform ease-in-out;
}

.product-gallery-full-screen .swiper-button-prev,
.product-gallery-full-screen .swiper-button-next {
  background: rgba(0, 0, 0, .4);
  color: #aaa;
  transition:
    250ms opacity ease-in-out,
    150ms color ease-in-out;
}
body:not(:hover) .product-gallery-full-screen .swiper-button-prev,
body:not(:hover) .product-gallery-full-screen .swiper-button-next {
  opacity: 0;
  transition-delay: 1000ms;
}
body:hover .product-gallery-full-screen .swiper-button-prev,
body:hover .product-gallery-full-screen .swiper-button-next {
  transition-delay: 0ms;
}

.product-gallery-full-screen .swiper-button-prev:hover,
.product-gallery-full-screen .swiper-button-next:hover {
  color: #fff;
}

.product-gallery-full-screen .swiper-button-prev svg,
.product-gallery-full-screen .swiper-button-next svg {
  position: absolute;
  fill: currentColor;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery-nav {
  position: absolute;
  background: rgba(0, 0, 0, 1);
  color: #aaa;
  padding: 10px 15px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition:
    250ms opacity ease-in-out;
}
body:not(:hover) .gallery-nav {
  opacity: 0;
  transition-delay: 1000ms;
}
body:hover .gallery-nav {
  opacity: .65;
  transition-delay: 0ms;
}

.gallery-nav ul,
.gallery-nav li {
  list-style: none;
}

.gallery-nav ul {
  float: right;
}

.gallery-nav li {
  float: left;
  color: #aaa;
  cursor: pointer;
  margin-left: 15px;
  transition: 150ms color ease-in-out;
}

.gallery-nav li:hover {
  color: #fff;
}

.gallery-nav svg {
  display: block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.gallery-nav .zoom.zoom-out svg.zoom-icon-zoom-in {
  display: none;
}
.gallery-nav .zoom svg.zoom-icon-zoom-out {
  display: none;
}
.gallery-nav .zoom.zoom-out svg.zoom-icon-zoom-out {
  display: block;
}

.gallery-nav .fullscreen.leavefs svg.fs-icon {
  display: none;
}

.gallery-nav .fullscreen svg.fs-icon-exit {
  display: none;
}

.gallery-nav .fullscreen.leavefs svg.fs-icon-exit {
  display: block;
}

.gallery-nav .swiper-pagination {
  position: static;
  float: left;
  width: auto;
  line-height: 24px;
}

@media (max-width: 1025px) {
  article {
    display: none;
  }
  .container {
    padding: 0;
  }
}