:root {
  --green1: #76c893;
  --green2: #52b69a;
  --cyan1: #34a0a4;
  --cyan2: #168aad;
  --blue1: #6495ed;
  --blue2: #1363df;
  --blue3: #4c71d0;
  --blue1-1: #6494ed82;
  --blue-main: #154a9a;
  --lightblue1: #a2d2ff;
  --lightblue2: #92B4F4;
  /* --mint: #c0eef2; */
  --dark: #181823;
  --mint2: #e9f8f9;
  --orange: #ff7f50;
  --white: #f8f8ff;
  --sidebar1:#CFDEE7;
  --sidebar2:#5E7CE2;
}

.bg-white {
  background-color: var(--white) !important;
}
.bg-nav {
  background-color: var(--blue-main) !important;
  box-shadow: 0 7px 15px -3px #333;
}

.bg-price {
  background-color: white !important;
}
html * {
  scroll-behavior: smooth;
}
body {
  background-color: ghostwhite;
}
.bg-image{
  background-image: url('/media/main/bg.jpg');
}
.logo {
  width: 22.5vh;
}

.bg-transparent {
  color: var(--dark) !important;
}

#navbar {
  background-color: var(--blue-main);
  transition: background-color 0.2s linear !important;
}
#navbar .nav-link2 {
  text-decoration: none;
  color: var(--mint2);
  transition: color 0.1s ease;
}
#navbar .nav-link2:hover {
  color: var(--blue2);
}
.bg-transparent .nav-link2 {
  color: var(--dark) !important;
}
.bg-transparent .nav-link2:hover {
  color: var(--blue1) !important;
}
#search {
  background-color: var(--white);
  border-color: var(--lightblue2);
  transition: background-color 0.5s ease;
  border-bottom-left-radius: 0;
}
#search:focus {
  background-color: var(--white);
}
.image-search {
  width: 75px;
}
#submit {
  background-color: var(--sidebar1) !important;
  border-bottom-right-radius: 0;
}
.lista {
  position: relative;
}
.lista ul {
  background-color: var(--white);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  position: absolute;
}

.nav-link {
  cursor: pointer;
  color: var(--white);
}
.nav-link:hover {
  color: var(--blue1);
}


/*navbar end*/

/* 
footer 
*/
footer {
  box-shadow: 0 -3px 15px 2px #333;
  background-color: var(--blue-main);
  position: relative;
  z-index: 150;
}
footer * {
  color: unset;
}
.link-secondary {
  color: var(--mint2) !important;
  transition: color 0.1s ease;
}
.link-secondary:hover {
  color: var(--blue3) !important;
}

/* 
footer end
*/

/* 
main kategoriak
*/

.title {
  text-transform: uppercase;
  font-size: 18px;
}
.main-description {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
  line-height: 2;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  height: 25%;
  background-color: rgb(31, 41, 55, 0.5);
}
.main-container:hover .overlay {
  height: 50%;
}
.main-container {
  position: relative;
  text-align: center;
}
.main-container img {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
}
.row .col-lg-4 {
  margin-bottom: 1rem;
}

/*
main display
*/

.main-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-display img {
  width: 100%;
  height: 600px;
  opacity: 0.9;
}

.image-blur {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
}



main {

  min-height: 69.5vh;
}

.card {
  background-color: var(--sidebar1) !important;
}
.card-termek {
  min-height: auto;
}

.card_click {
  position: absolute;
  background-color: unset;
  border: unset;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s ease;
}
.card_click:hover {
  background-color: rgba(202, 202, 202, 0.25);
  cursor: pointer;
}
.card-img-top {
  height: 200px;
}
.card-body {
  padding-top: 5px;
  height: 55px;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 62vh;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: contain;
  
}
.swiper-thumb {
  height: 100px;
}
.swiper-thumb .swiper-slide {
  width: 90px !important;
}

/* sidebar */
.bg-sidebar{
  background-color: var(--blue3)!important;
}
.bg-sidebar2{
  background-color: var(--white);
  border: 2px solid  var(--sidebar1);
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px;
}
.bg-sidebar .collapse{
  border: 2px solid  var(--sidebar1);
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px;
  background-color: var(--white)
}
.bg-sidebar .collapsing{
  border: 2px solid  var(--sidebar1);
  border-left: 0px;
  border-right: 0px;
  border-radius: 5px;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: var(--sidebar1);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav{
  margin-left: 1.25rem!important;
}
.btn-toggle-nav a {
  padding: .1875rem .5rem;
  width: inherit;
  display: block;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--sidebar1);
}

.scrollarea {
  overflow-y: auto;
}

.cursor{
  cursor: pointer;
}